<div class="ui dividing header">
  <div class="ui clearing segment">
    <h1 class="ui left floated header" >
      {{#link-to 'index'}}
        <i class="volume up icon"></i>
        Deltron Messageboard
        <div class="sub header"> Its the year 3030, Deltron-Zero answers</div>
      {{/link-to}}
    </h1>
    <h3 class="ui right floated header">
      The current time is:
      {{current-date}}
    </h3>
  </div>
</div>


{{outlet}}


<hr>
  <div class="content">
    Contact us
    About
  </div>
